.adminContainer {
  background-color: white;
  margin-left: 200px;
  margin-right: 200px;
  height: fit-content;
  margin-top: 200px;
  border: 1.5px solid black;

  h1 {
    text-align: center;
    border-bottom: 1px solid black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .selection {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;

    & > div {
      width: 50%;
      text-align: center;
    }
  }
}
