.editHotelFormContainer {
  width: 80%;
  padding: 100px 300px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  border: 1px solid black;
  flex-grow: 1;
}
